.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  min-height: 3rem;
}
.nav a{
  font-size: 1.5rem;
  color:var(--third-color);
}

.form{
  display: flex;
  min-width: 250px;
}
.form input {
  height: 2rem;
  width: 100%;
  border: 0.5px solid var(--third-color);
  border-right: 0px solid transparent;
  padding-left: 10px;
  font-size: 1rem;
  border-radius: 10px 0 0 10px;
  color: var(--third-color);
  outline: none;
}
.form input::placeholder{
  color: var(--third-color);
  font-weight: lighter;
  font-style: italic;
}
.form button {
  height: 2rem;
  outline: none;
  border: 0.5px solid var(--third-color);
  border-left: 0px;
  border-radius: 0 10px 10px 0;
  background: #fff;
  font-size: 1rem;
  text-align: center;
  padding: 0 1rem;
  cursor: pointer;
  color:var(--third-color);
}

@media (max-width:425px) {
  .nav{
    flex-direction: column;
    gap:1rem;
    margin-top: 1rem;
  }
}